
:root {
    --background-color : #FFC700;
    --bs-primary-rgb : #12296c;
}

body{
    background-color: var(--background-color);
    color: var(--bs-primary-rgb);
    font-weight: 300;
    font-size: 1.2rem;
}

.container-fluid-custom{
    max-width: 1600px;
}

/* BUTTON */
.btn{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 2rem;
}

.pagination{

    --bs-pagination-color: var(--bs-primary-rgb);
    --bs-pagination-active-bg:var(--bs-primary-rgb);
    --bs-pagination-active-border-color: var(--bs-primary-rgb)
}